<p style="color: green"><%= notice %></p>

<%= render @tipo_produto_4 %>

<div>
  <%= link_to "Edit this tipo produto 4", edit_tipo_produto_4_path(@tipo_produto_4) %> |
  <%= link_to "Back to tipo produto 4s", tipo_produto_4s_path %>

  <%= button_to "Destroy this tipo produto 4", @tipo_produto_4, method: :delete %>
</div>
